@use 'utils';

%default_button {
  @include utils.flex(column, center, center);
  @include utils.font(1rem, 700, 1.5rem);

  border-radius: 1rem;
  background: var(--gold);
  color: var(--light);
  padding: 0.5rem 1.5rem;
  cursor: pointer;

  transition: all 0.2s ease;
  text-transform: uppercase;

  &:active {
    transform: scale(0.92);
  }

  &:hover {
    color: var(--dark);
  }
}

.info-card {
  @include utils.flex(column, center, space-between);

  &__title {
    color: inherit;
    @include utils.font(1.5rem, 700, 2rem);
  }

  &__text {
    text-align: center;
  }
}

.link-decorated {
  position: relative;

  &::after {
    @extend %pseudo_underline;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
